server:
  port: 8080
logging:
  level:
    '[destaproject.marketplaceapps]': TRACE
    org.springframework.data.elasticsearch.client.WIRE: TRACE
app:
  timezone: Asia/Jakarta
credential:
  APIkey: ${SECRET_KEY}
spring:
  main:
    allow-circular-references: true
  datasource:
    url: ${POSTGRES_URL}
    username: ${POSTGRES_USERNAME}
    password: ${POSTGRES_PASSWORD}
    driverClassName: org.postgresql.Driver
  flyway:
    url: ${POSTGRES_URL}
    user: ${POSTGRES_USERNAME}
    password: ${POSTGRES_PASSWORD}
    locations: classpath:db/migration
  elasticsearch:
    uris: ${ELASTICSEARCH_NODES_URL}
    username: ${ELASTICSEARCH_USERNAME}
    password: ${ELASTICSEARCH_PASSWORD}
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    data:
      elasticsearch:
        repositories:
          enabled: true