server:
  port: 8080
logging:
  level:
    '[com.destaproject]': TRACE
    org.springframework.data.elasticsearch.client.WIRE: TRACE
application:
  url: ${APP_URL}

security:
    jwt:
      secret-key: ${SECRET_KEY}
      expiration: 86400000 # a day
      refresh-token:
        expiration: 604800000 # 7 days

spring:
  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
              enable: true
  jackson:
    time-zone: Asia/Jakarta
  main:
    allow-circular-references: true
  elasticsearch:
    uris: ${ELASTICSEARCH_NODES_URL}
    username: ${ELASTICSEARCH_USERNAME}
    password: ${ELASTICSEARCH_PASSWORD}
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
    data:
      elasticsearch:
        repositories:
          enabled: true

database:
  user-module:
    datasource:
      url: ${POSTGRES_USER_URL}
      username: ${POSTGRES_USER_USERNAME}
      password: ${POSTGRES_USER_PASSWORD}
      driverClassName: org.postgresql.Driver
  merchant-module:
    datasource:
      url: ${POSTGRES_MERCHANT_URL}
      username: ${POSTGRES_MERCHANT_USERNAME}
      password: ${POSTGRES_MERCHANT_PASSWORD}
      driverClassName: org.postgresql.Driver
  order-module:
    datasource:
      url: ${POSTGRES_ORDER_URL}
      username: ${POSTGRES_ORDER_USERNAME}
      password: ${POSTGRES_ORDER_PASSWORD}
      driverClassName: org.postgresql.Driver
  payment-module:
    datasource:
      url: ${POSTGRES_PAYMENT_URL}
      username: ${POSTGRES_PAYMENT_USERNAME}
      password: ${POSTGRES_PAYMENT_PASSWORD}
      driverClassName: org.postgresql.Driver
  product-module:
    datasource:
      url: ${POSTGRES_PRODUCT_URL}
      username: ${POSTGRES_PRODUCT_USERNAME}
      password: ${POSTGRES_PRODUCT_PASSWORD}
      driverClassName: org.postgresql.Driver